.footer {
    background-color: #030303c9;
    color: silver;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}

.footer-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-btn {
    background-color: #3a3a3a;
    color: #dcdcdc;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.footer-btn:hover {
    background-color: #010101;
    color: white;
    border-color: #888;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}