/* Make sure html and body take full height */

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Make App component a flex container */

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Main content should grow to push footer down */

.main-content {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}